@import "css/main.scss";

:root {
  --line-width: 3px;
  --box-size: 1.5em;
}

header {
  display: flex;
  width: 100%;
  padding: var(--box-size);
  justify-content: flex-end;
  gap: var(--box-size);
}

.patterns-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.pattern-list-item {
  padding: var(--box-size) var(--box-size) calc(var(--box-size) * 8);
  display: flex;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid $light-grey;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110%;
    height: 110%;
    box-shadow: 0 0 25px 35px $white inset;
    z-index: 1;
  }

  &::after {
    content: 'View';
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    @include uppercase;
    background-color: rgba($blue-1, .8);
  }

  &:hover {
    cursor: pointer;
    
    &::after {
      display: flex;
    }

    .button.remove {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.button.remove {
  position: absolute;
  bottom: calc(var(--box-size) / 2);
  right: calc(var(--box-size) / 2);
  z-index: 3;
  opacity: 0;
}

.saved-pattern-wrapper {
  scale: .8;
  transform-origin: 0 0;
}

.saved-pattern {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.wrapper,
.saved-pattern-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  gap: var(--box-size);
  align-items: center;
  justify-content: center;
  @include source-code(400);
  @include uppercase;
}

.wrapper {
  height: 100%;
  overflow: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: calc(var(--box-size) * 3);
  transition: 300ms ease all;

  &.inset {
    right: 250px;
    padding-right: var(--box-size);
    transition: 300ms ease all;
  }
}

.h-phrase,
.v-phrase {
  @include font-size(1.6);
  white-space: pre;

  &:empty {
    padding-left: 4px;

    &::before {
      content: "😭";
    }
  }

  &:focus {
    outline: none;
    border-color: $blue-4;
  }
}

.h-phrase {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  line-height: var(--box-size);
  letter-spacing: calc(var(--box-size) / 1.67);
  padding-left: calc(var(--box-size) / 3);
  margin-right: calc(var(--box-size) * -1);
  padding-bottom: 0;
  border-bottom: 2px solid transparent;
  align-self: end;
}

.v-phrase {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: end;
  line-height: var(--box-size);
  letter-spacing: calc(var(--box-size) / 6);
  text-orientation: upright;
  writing-mode: vertical-lr;
  margin-top: 1px;
  padding-right: calc(var(--box-size) / 2);
  border-right: 2px solid transparent;
}

.v-phrase {
  padding-right: 0;
}

#pattern,
.saved-pattern {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
}

.pattern-container {
  display: flex;
  flex-wrap: wrap;
}

.fancy {
  .pattern-container {
    outline: calc(var(--line-width) * 2) solid $blue-6;
      outline-offset: calc(var(--line-width) / 2);
      border-radius: calc(var(--line-width) / 4);
    
      &:before {
        display: block;
        content: "";
        position: absolute;
        top: calc((var(--line-width) / 2) * -1);
        right: calc((var(--line-width) / 2) * -1);
        bottom: calc((var(--line-width) / 2) * -1);
        left: calc((var(--line-width) / 2) * -1);
        background-color: $tan;
        z-index: -2;
      }
  }

  .block {
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: calc(var(--line-width) / 2) solid $blue-6;
      border-radius: var(--line-width);
    }
    
    &.h-on.v-on {
      &:before {
        display: block;
        top: 0;
        left: 0;
        border-color: $blue-3;
        border-bottom-right-radius: calc(var(--box-size) / 2);
      }
    }
  }
}

.block {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--box-size);
  height: var(--box-size);
  z-index: -1;

  &:before {
    display: none;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: calc((var(--box-size) / 4));
    border-style: solid;
  }
}

.h-line,
.v-line {
  position: absolute;
  box-sizing: content-box;
  border: calc(var(--line-width) / 2) solid $blue-3;
  z-index: 2;
  border-radius: 10px;
  print-color-adjust: exact;
}

.h-line {
  width: var(--box-size);
  height: 0;
  top: calc((var(--line-width) / 2) * -1);
  left: calc((var(--line-width) / 2) * -1);
}

.v-line {
  width: 0;
  height: var(--box-size);
  top: calc((var(--line-width) / 2) * -1);
  left: calc((var(--line-width) / 2) * -1);

  &:before {
    display: none;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: calc((var(--box-size) / 4));
    border-style: solid;
    border-bottom-color: $blue-6;
    border-left-color: $blue-6;
    border-top-color: transparent;
    border-right-color: transparent;
    z-index: -1;
  }
}

body {
  display: flex;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.drawer {
  display: flex;
  flex-direction: column;
  background: $white;
  border-left: 1px solid $light-grey;
  width: 250px;
  max-width: 0;
  transition: 300ms ease all;

  &.show {
    max-width: 250px;
    transition: 300ms ease all;
  }
}

.drawer-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
}

.count-plain {
  position: fixed;
  top: var(--box-size);
  right: var(--box-size);
  @include font-size(1.6);
  color: $mid-grey;
  padding: 2px 8px;
  border: 1px solid $light-grey;
  border-radius: 4px;
}

.count-badge {
  position: absolute;
  top: -10px;
  right: -15px;
  background: $blue;
  @include font-size(1.2);
  color: $white;
  border-radius: 50%;
  padding: 2px 6px;
  pointer-events: none;
}

.show-list {
  position: relative;
  visibility: visible;
  margin-right: 0;
  transition:300ms ease all;
  
  &.hide {
    opacity: 0;
    width: 0;
    padding: 0;
    margin-right: calc(var(--box-size) * -1);
    visibility: hidden;
    transition: 300ms ease all;
  }
}